<h1>Listing cards</h1>
<table>
  <tr>
    <th>Original Text</th>
    <th>Translated Text</th>
		<th>Review Date</th>
    <th>User</th>
    <th>Show</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
 
  <% @cards.each do |card| %>
    <tr>
      <td><%= card.original_text %></td>
      <td><%= card.translated_text %></td>
      <td><%= card.review_date.strftime("%d/%m/%Y") %></td>
      <td><%= card.user_id %></td>
      <td><%= link_to 'Show', card_path(card) %></td>
      <td><%= link_to("Edit", edit_card_path(card) ) %></td>
      <td><%= link_to("Delete",card_path(card), method: :delete, data: { confirm: 'Are you sure?' }) %></td>
    </tr>
  <% end %>

</table>
