<head>
  <title>Cards</title>
  <link rel="stylesheet" href="application.css">
</head>

<table>

    <tr>
	    <th>Original Text</th>
	    <th>Translated Text</th>
	    <th>Review Date</th>
    </tr>

    <tr>
      <td><%= @card.original_text %></td>
      <td><%= @card.translated_text %></td>
      <td><%= @card.review_date.strftime("%d/%m/%Y") %></td>
    </tr>

</table>

<%= link_to 'Edit', edit_card_path(@card) %> |
<%= link_to 'Back', cards_path %>



